In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv('Bondora_raw.csv', usecols=['ActiveLateCategory', 'ActiveLateLastPaymentCategory', 'ActiveScheduleFirstPaymentReached',
                                            'Age', 'Amount','AmountOfPreviousLoansBeforeLoan','AppliedAmount','City','ContractEndDate',
                                             'Country','FirstPaymentDate', 'HomeOwnershipType', 'IncomeTotal','InterestAndPenaltyBalance',
                                             'InterestAndPenaltyDebtServicingCost','InterestAndPenaltyPaymentsMade','InterestAndPenaltyWriteOffs',                                             
                                             'InterestRecovery','LastPaymentOn','LoanDate','LoanDuration', 'LoanId', 'LoanNumber', 'MonthlyPayment', 'MonthlyPaymentDay', 
                                             'UseOfLoan', 'Status'    
                                            ])

In [113]:
df.columns

Index(['LoanId', 'LoanNumber', 'LoanDate', 'ContractEndDate',
       'FirstPaymentDate', 'Age', 'Country', 'AppliedAmount', 'Amount',
       'LoanDuration', 'MonthlyPayment', 'City', 'UseOfLoan',
       'HomeOwnershipType', 'IncomeTotal', 'MonthlyPaymentDay',
       'ActiveScheduleFirstPaymentReached', 'LastPaymentOn',
       'InterestRecovery', 'Status', 'ActiveLateCategory',
       'InterestAndPenaltyPaymentsMade', 'InterestAndPenaltyWriteOffs',
       'InterestAndPenaltyBalance', 'AmountOfPreviousLoansBeforeLoan',
       'InterestAndPenaltyDebtServicingCost', 'ActiveLateLastPaymentCategory'],
      dtype='object')

In [114]:
percent_missing = df.isnull().sum() * 100 / len(df)

In [115]:
percent_missing

LoanId                                  0.000000
LoanNumber                              0.000000
LoanDate                                0.000000
ContractEndDate                        56.155922
FirstPaymentDate                        0.000000
Age                                     0.000000
Country                                 0.000000
AppliedAmount                           0.000000
Amount                                  0.000000
LoanDuration                            0.000000
MonthlyPayment                          4.969189
City                                    7.280215
UseOfLoan                               0.000000
HomeOwnershipType                       1.227988
IncomeTotal                             0.000000
MonthlyPaymentDay                       0.000000
ActiveScheduleFirstPaymentReached       0.000000
LastPaymentOn                           7.084718
InterestRecovery                       68.099815
Status                                  0.000000
ActiveLateCategory                     63.934914
InterestAndPenaltyPaymentsMade          0.000000
InterestAndPenaltyWriteOffs            56.047395
InterestAndPenaltyBalance               0.000000
AmountOfPreviousLoansBeforeLoan         0.000000
InterestAndPenaltyDebtServicingCost    56.047395
ActiveLateLastPaymentCategory          61.160791
dtype: float64

In [116]:
df = df.fillna(df.median())

C:\Users\Hp 840 g2\AppData\Local\Temp\ipykernel_5052\3493596106.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.median())

In [117]:
df.isna().sum()

LoanId                                     0
LoanNumber                                 0
LoanDate                                   0
ContractEndDate                        75546
FirstPaymentDate                           0
Age                                        0
Country                                    0
AppliedAmount                              0
Amount                                     0
LoanDuration                               0
MonthlyPayment                             0
City                                    9794
UseOfLoan                                  0
HomeOwnershipType                          0
IncomeTotal                                0
MonthlyPaymentDay                          0
ActiveScheduleFirstPaymentReached          0
LastPaymentOn                           9531
InterestRecovery                           0
Status                                     0
ActiveLateCategory                     86011
InterestAndPenaltyPaymentsMade             0
InterestAndPenaltyWriteOffs                0
InterestAndPenaltyBalance                  0
AmountOfPreviousLoansBeforeLoan            0
InterestAndPenaltyDebtServicingCost        0
ActiveLateLastPaymentCategory          82279
dtype: int64

In [118]:
df.head()

,LoanId,LoanNumber,LoanDate,ContractEndDate,FirstPaymentDate,Age,Country,AppliedAmount,Amount,LoanDuration,...,LastPaymentOn,InterestRecovery,Status,ActiveLateCategory,InterestAndPenaltyPaymentsMade,InterestAndPenaltyWriteOffs,InterestAndPenaltyBalance,AmountOfPreviousLoansBeforeLoan,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-16,2010-07-06,2009-07-27,61,EE,319.5582,115.0408,12,...,2010-07-06,0.00,Repaid,NaN,20.4222,0.0,0.00,83.0852,0.0,NaN
1,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-15,2009-07-07,2009-07-15,48,EE,191.7349,140.6057,1,...,2009-07-07,0.00,Repaid,NaN,2.0227,0.0,0.00,255.6467,0.0,NaN
2,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-15,NaN,2009-07-27,58,EE,319.5582,319.5409,20,...,2012-10-01,50.99,Late,180+,59.7626,0.0,414.07,0.0000,0.0,180+
3,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-15,2010-09-15,2009-07-15,23,EE,127.8233,57.5205,15,...,2010-09-15,0.00,Repaid,NaN,18.7323,0.0,0.00,134.2144,0.0,NaN
4,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-14,2016-07-28,2009-07-27,25,EE,319.5582,319.5436,12,...,2015-07-16,220.42,Repaid,NaN,220.4200,2.4,0.00,146.9966,0.0,180+

In [119]:
df1 = df.dropna(axis=1)

In [120]:
df1.isna().sum()

LoanId                                 0
LoanNumber                             0
LoanDate                               0
FirstPaymentDate                       0
Age                                    0
Country                                0
AppliedAmount                          0
Amount                                 0
LoanDuration                           0
MonthlyPayment                         0
UseOfLoan                              0
HomeOwnershipType                      0
IncomeTotal                            0
MonthlyPaymentDay                      0
ActiveScheduleFirstPaymentReached      0
InterestRecovery                       0
Status                                 0
InterestAndPenaltyPaymentsMade         0
InterestAndPenaltyWriteOffs            0
InterestAndPenaltyBalance              0
AmountOfPreviousLoansBeforeLoan        0
InterestAndPenaltyDebtServicingCost    0
dtype: int64

In [126]:
df1['Status']

0         Repaid
1         Repaid
2           Late
3         Repaid
4         Repaid
           ...
134524    Repaid
134525    Repaid
134526      Late
134527    Repaid
134528      Late
Name: Status, Length: 134529, dtype: object

In [128]:
from sklearn.preprocessing import OneHotEncoder

In [135]:
encode = OneHotEncoder(sparse=False)
arr_encode = encode.fit_transform(df1[['Status']])

In [142]:
df2 = pd.DataFrame(arr_encode, columns=['Repaid','Late','Remaining'])

In [143]:
df2

        Repaid  Late  Remaining
0          0.0   0.0        1.0
1          0.0   0.0        1.0
2          0.0   1.0        0.0
3          0.0   0.0        1.0
4          0.0   0.0        1.0
...        ...   ...        ...
134524     0.0   0.0        1.0
134525     0.0   0.0        1.0
134526     0.0   1.0        0.0
134527     0.0   0.0        1.0
134528     0.0   1.0        0.0

[134529 rows x 3 columns]

In [145]:
frames = [df1, df2]

final_df = pd.concat(frames)

In [148]:
final_df

,LoanId,LoanNumber,LoanDate,FirstPaymentDate,Age,Country,AppliedAmount,Amount,LoanDuration,MonthlyPayment,...,IncomeTotal,MonthlyPaymentDay,ActiveScheduleFirstPaymentReached,InterestRecovery,Status,InterestAndPenaltyPaymentsMade,InterestAndPenaltyWriteOffs,InterestAndPenaltyBalance,AmountOfPreviousLoansBeforeLoan,InterestAndPenaltyDebtServicingCost
0,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-16,2009-07-27,61,EE,319.5582,115.0408,12,97.38,...,10500.0,25,True,0.00,Repaid,20.4222,0.00,0.00,83.0852,0.00
1,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-15,2009-07-15,48,EE,191.7349,140.6057,1,97.38,...,10800.0,15,True,0.00,Repaid,2.0227,0.00,0.00,255.6467,0.00
2,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-15,2009-07-27,58,EE,319.5582,319.5409,20,97.38,...,7000.0,25,True,50.99,Late,59.7626,0.00,414.07,0.0000,0.00
3,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-15,2009-07-15,23,EE,127.8233,57.5205,15,97.38,...,11600.0,15,True,0.00,Repaid,18.7323,0.00,0.00,134.2144,0.00
4,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-14,2009-07-27,25,EE,319.5582,319.5436,12,97.38,...,6800.0,25,True,220.42,Repaid,220.4200,2.40,0.00,146.9966,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134524,A9C9EF0F-4E79-4930-BA8A-A4130077FCC2,283484,2015-01-06,2015-03-02,37,FI,3000.0000,3000.0000,60,107.68,...,1400.0,1,True,0.00,1,0.0000,1552.18,0.00,0.0000,1040.06
134525,787345C2-7606-4F72-8FE2-A4170082D77C,285168,2015-01-06,2015-03-05,35,FI,3000.0000,3000.0000,60,85.33,...,2265.0,7,True,0.00,1,1990.0300,0.00,0.00,3000.0000,0.00
134526,E2D3384D-289A-4B4D-A2DA-A40F00F7C755,281602,2015-01-06,2015-03-02,40,FI,2500.0000,2500.0000,60,80.42,...,2500.0,1,True,0.00,1,199.3300,0.00,1227.98,0.0000,1051.85
134527,7CC7AB74-995B-4467-958A-A41700F78D59,285431,2015-01-06,2015-03-02,47,EE,3000.0000,3000.0000,60,84.51,...,540.0,1,True,0.00,1,561.5300,4829.92,0.00,500.0000,889.50
134528,3A0DEBF3-292C-4EB4-B71A-A4170157749D,285630,2015-01-06,2015-03-03,21,EE,3000.0000,3000.0000,60,106.74,...,500.0,3,True,0.00,1,683.2100,0.00,9019.04,2500.0000,604.80